* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
.logo-image {
  width: 128px;
}
.container {
  max-width: 1194px;
  margin: auto;
}
.header {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.auth {
  margin-left: auto;
}
.search-form {
  margin-left: 76px;
  background: rgba(238, 238, 238, 0.71);
  border-radius: 10px;
  display: flex;
  max-width: 620px;
  flex-grow: 1;
  position: relative;
}
.search-input {
  background: transparent;
  border: none;
  width: 100%;
  padding: 13px 0;
  padding-left: 20px;
}
.search-button {
  background: transparent;
  border: none;
  /* position: absolute;
  right: 0;
  top: 0;
  height: 100%; */
  padding: 0 18px;
  cursor: pointer;
}
.login {
  font-size: 14px;
  text-decoration: none;
  color: black;
  background-color: #ebebeb;
  padding: 16px 30px;
  border-radius: 50px;
  /* line-height: 16px; */
}
.shopping-cart {
  background-color: #f66a15;
  border-radius: 50%;
  padding: 12px;
  margin-left: 30px;
  width: 49px;
  height: 49px;
  text-decoration: none;
}
.shopping-counter {
  line-height: 9px;
  background-color: #ffaf19;
  color: #000;
  font-size: 8px;
  position: relative;
  padding: 5px;
  border-radius: 50%;
  left: 15px;
  top: -3px;
}
.slide {
  position: relative;
  border-radius: 20px;
  min-height: 400px;
  display: flex;
  align-items: center;
  padding-left: 100px;
  overflow: hidden;
}
.slide-text-light {
  background-color: grey;
  color: white;
}
.slide-title {
  font-weight: bold;
  font-size: 50px;
  line-height: 51px;
  margin-top: 0;
  margin-bottom: 15px;
}
.slide-text {
  font-weight: bold;
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 32px;
}
.button-primary {
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  background-color: #f47322;
  color: white;
}
.button {
  border-radius: 25px;
  padding: 13px 52px;
  display: inline-block;
  text-decoration: none;
}
.button-default {
  color: 5f5f61;
  background-color: #fff;
}
.slide-content {
  max-width: 390px;
  position: relative;
}
.slide-summer {
  /* background-image: url("../img/summer.png"); */
  background: url("../img/summer.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.slide:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.43) 40.45%,
    rgba(0, 0, 0, 0) 100%
  );
}
.promo {
  margin-top: 50px;
  max-height: 380px;
  display: flex;
}
.card {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  padding: 32px;
  max-width: 570px;
  min-height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 580px;
}
.mar {
  margin-right: 50px;
}
.card:before {
  /* z-index: -1; */
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}
.card-text-light {
  color: white;
}
.card-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 23px;
  margin-bottom: 21px;
}
.card-header,
.card-footer {
  max-width: 232px;
  z-index: 1;
}
.card-desription {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
}
.card-price {
  font-weight: 500;
  font-size: 24px;
  line-height: 23px;
  display: block;
  margin-bottom: 8px;
}
.card-delivery {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 25px;
  display: block;
}
.sweet-basket {
  background: url("../img/fullbag.png") no-repeat center / cover;
}
.min-power {
  background: url("../img/min-power.png") no-repeat center / cover;
}
